.title {
  background-image: url("/public/images/computer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 180px;
}

h1 {
  font-size: 6rem;
  line-height: 1.5;
  color: aliceblue;
}

h2 {
  color: azure;
}

.btn {
  margin: 100px 15px;
  padding: 10px;
}

.githubText {
  margin-left: 8px;
}
.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em "tahoma";
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
