.about-container {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZvnMmYiy4lSlwjzuL9vPfzGIrlrovzKfS8fY9SdecFhDFkf_T");
  background-size: cover;
  background-position: center;
}
