#about {
  background: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);
  text-align: center;
}

@media (min-width: 768px) {
  .container-about {
    padding: 100px;
    font-size: 1.5rem;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;
  animation: fade-in-down 3s ease-in-out forwards;
}
